@import "leaflet/dist/leaflet.css";
@import "tailwindcss";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@layer components {
  .nav-buttons {
    @apply w-full flex justify-around align-middle;
  }
  .buttons {
    @apply pr-[50px] pl-[50px] w-[33.3vw] pt-5 pb-5 text-2xl font-bold border-r border-gray-300 hover:cursor-pointer;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#map {
  height: 500px;
  width: 250px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.timer {
  animation-duration: 250ms;
}
