@import "leaflet/dist/leaflet.css";
@import "tailwindcss";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@layer components {
  .nav-buttons {
    @apply w-full flex justify-around align-middle;
  }
  .buttons {
    @apply pr-[50px] pl-[50px] w-[33.3vw] pt-5 pb-5 text-2xl font-bold border-r border-gray-300 hover:cursor-pointer;
  }
  .button-form {
    @apply pr-8 pl-8 mt-3 bg-green-300 text-3xl font-bold hover:cursor-pointer hover:scale-110 hover:bg-green-400 hover:text-white duration-500 rounded-sm;
  }
  .button-submit {
    @apply pr-8 pl-8 mt-6 bg-cyan-300 text-3xl font-bold hover:cursor-pointer hover:scale-110 hover:bg-cyan-700 hover:text-gray-50 duration-500 rounded-2xl;
  }
  .hero-icons {
    @apply pr-2 pl-2 mt-2 mb-4 bg-zinc-100 text-3xl font-bold hover:cursor-pointer hover:scale-110 hover:bg-stone-700 hover:text-amber-50 active:bg-gray-700 duration-100 rounded-sm;
  }
  .active {
    @apply bg-gray-300;
  }
}
@layer base {
  label {
    @apply block mb-2 text-xl font-medium text-gray-900 dark:text-white;
  }
  input {
    @apply block mb-2 text-xl font-medium text-gray-900 dark:text-white bg-zinc-100 rounded-lg pl-2;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#map {
  height: 500px;
  width: 250px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.timer {
  animation-duration: 80ms;
}
